@model IEnumerable<Employee>
@{
    ViewData["Title"] = "All Employees";
    /// Layout = "~/Views/Shared/_Layout.cshtml";
    /// string s = ViewBag.Message;
    /// string s = (string) ViewData["Message"];

}

    <br />    <br />  

    <a asp-action="Create" class="btn btn-success"> Add Employee</a>





@if (Model.Count() > 0)
{

    <br />    <br /> 
    <h1>All Employees</h1>
    <br />    <br /> 

    <form class="row" asp-action="index">
     
        <div class="col-11">
            <input type="text" name="SearchName" placeholder="Employee's Name " class="form-control" />
        </div>
        <div class="col-1">
            <input type="submit"  class="btn btn-info" value="Search"/>
        </div>

    </form>
    <br />    <br /> 
   @*  <form asp-action="Index" class="row m-2">
        <div class="row">
            <input class="form-control" type="text" name="SearchName"  placeholder= "Employee's name"/>
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </form> *@
   <br />    <br />
    <table class="table table-striped table-hover" mt-3>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(E => E.Name)</td>
                <td>@Html.DisplayNameFor(E => E.Age)</td>
                <td>@Html.DisplayNameFor(E => E.Salary)</td>
                <td>@Html.DisplayNameFor(E => E.department)</td>
                <td>@Html.DisplayNameFor(E => E.CreationDate)</td>
                <td>@Html.DisplayNameFor(E => E.HireDate)</td>
                <td>@Html.DisplayNameFor(E => E.Address)</td>
                <td>@Html.DisplayNameFor(E => E.Phone)</td>
                <td>@Html.DisplayNameFor(E => E.Email)</td>
                <td>@Html.DisplayNameFor(E => E.IsActive)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var Emp in Model)
            {
                <tr>
                    <td>@Emp.Name</td>
                    <td>@Emp.Age</td>
                    <td>@Emp.Salary</td>
                    <td>@Emp.department.Name</td>
                    <td>@Emp.CreationDate</td>
                    <td>@Emp.HireDate</td>
                    <td>@Emp.Address</td>
                    <td>@Emp.Phone</td>
                    <td>@Emp.Email</td>
                    @* <td>@Emp.IsActive</td> *@
                    @{
                        string t = (Emp.IsActive) ? "green" : "red";
                    }

                    <td><i class="fa fa-circle" style="color: @t;"></i></td>
                    <partial name="_ButtonsPartialView" model="Emp.Id" />
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There Is No Employee</h3>
    </div>
}
